// Dropdown
.dropdown {
  display: block;
  position: relative;
  
  .dropdown-toggle {
    display: inline !important;
  }

  .menu {
    animation: slide-down .15s ease 1;
    display: none;
    left: 0;
    max-height: 50vh;
    overflow-y: auto;
    position: absolute;
    top: 100%;
  }

  &.dropdown-right {
    .menu {
      left: auto;
      right: 0;
    }
  }

  &:hover .menu,
  .menu:hover {
    display: block;
  }

  // &.active .menu,
  // .dropdown-toggle:active + .menu,
  // .dropdown:hover + .menu,
  // .menu:hover {
  //   display: block;
  // }

  // Fix dropdown-toggle border radius in button groups
  .btn-group {
    .dropdown-toggle:nth-last-child(2) {
      border-bottom-right-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }
  }
}
