html, body {
    overflow-x: hidden;
    width: 100vw;
    max-width: 100%;
}

@media(max-width: 1121px) {
    .hero_custom {
        display: none !important;
    }

    .hide-1122 {
        display: none;
    }
}

@media(min-width: 1122px) {
    .display-1122 {
        display: none;
    }
}

@media(min-width: 1600px) {
    .hero_custom .hero_1 {
        bottom: 10% !important;
    }
    
    .hero_custom .hero_2 {
        top: 15% !important;
    }
}

@media(max-width: 840px) {
    .mt-0-mobile {
        margin-top: 3rem !important;
    }

    .blog-header {
        font-size: 1.6rem !important;
    }

    .padding-mobile {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }

    .blog-article p, .blog-article li {
        font-size: 0.8rem;
    }

    .mt-12-mobile {
        margin-top: 2.4rem;
    }

    .text-center-mobile {
        text-align: center !important;
    }

    .bird_wrapper {
        overflow: hidden;
    }

    .price__features {
        margin: 2rem 0 !important;
    }

    .form {
        &:after {
            background-image: unset !important;
        }

        .pl-5 {
            padding-left: 0.4rem !important;
            padding-right: 1rem !important;
        }
    }

    .animated_text {
        max-width: 100% !important;
        width: 100% !important;
    }

    .animated_about {
        font-size: 1rem !important;
    }

    .animated_svg_1 {
        position: relative !important;
        // opacity: 0.25;
        max-width: 100% !important;
    }

    .animated_wrapper_2 {
        margin-top: 12rem !important;
    }

    .animated_svg_2 {
        top: -7rem !important;
        max-width: 60% !important;
    }

    .animated_svg_3 {
        top: -5rem !important;
        max-width: 50% !important;
        right: 1rem !important;
    }

    .animated_wrapper_2 .animated_text {
        margin-right: 0 !important;
    }

    .animated_wrapper_3 {
        margin-top: 4rem !important;
        flex-direction: column;
    }

    .animated_svg_4 {
        position: relative !important;
        // top: -20% !important;
        display: block;
        margin: 0 auto;
        max-width: 70% !important;
    }

    .animated_wrapper_4 {
        margin-top: 4rem !important;
        flex-direction: column;
    }

    .animated_svg_6 {
        position: relative !important;
        top: 0 !important;
        max-width: 90% !important;
        display: block;
        margin: 0 auto;
        right: unset !important;
    }

    .main_hero {
        font-size: 1.6rem !important;
    }

    .subtitle {
        font-size: 1.2rem !important;
    }

    .hero_custom .hero_1 {
        max-width: 50% !important;
    }

    .hero_custom .hero_2 {
        top: 16% !important;
        max-width: 50% !important;
        right: 1rem !important;
    }

    .main-video_wrapper {
        margin: 0 auto !important;
    }

    .big-header {
        font-size: 2.6rem !important;
    }

    .marq-item {
        font-size: 1.2rem !important;
    }

    .hero_wrapper, .hero_wrapper_2, .hero_wrapper_3, .hero_wrapper_4, .hero_wrapper_5 {
        margin-top: 5rem !important;
    }

    .hero_text {
        width: 100% !important;
    }

    .hero_about {
        font-size: 1.2rem !important;
    }

    .hero_svg_1, .hero_svg_2, .hero_svg_3, .hero_svg_4, .hero_svg_5 {
        position: relative;
        max-width: unset !important;
        bottom: unset !important;
        top: unset !important;
        left: unset !important;
        right: unset !important;
    }

    .form-checkbox, .form-radio, .form-switch {
        padding: 0 0.6rem 0;
    }

    .custom-features {
        margin: 0 -1rem;

        .form-checkbox, .form-radio, .form-switch {
            padding: 0 1.3rem 0;
        }
    }

    // .hero_svg_2 {
    //     top: -15% !important;
    //     right: 0;
    //     left: unset !important;
    //     opacity: 0.25 !important;
    // }

    // .hero_svg_3 {
    //     right: unset !important;
    //     left: 0;
    //     opacity: 0.25 !important;
    // }

    // .hero_svg_4 {
    //     top: -23% !important;
    //     right: 0;
    //     left: unset !important;
    //     opacity: 0.25 !important;
    // }

    // .hero_svg_5 {
    //     top: -19% !important;
    //     left: 0;
    //     right: unset !important;
    //     opacity: 0.25 !important;
    // }
}

@media(max-width: 1075px) {
    .bird_wrapper {
        overflow: hidden;
    }

    .padding-mobile {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }

    main {
        padding-top: 0;
    }

    .font-half {
        font-size: 1rem;
        line-height: 1.4;
    }

    .my-12 {
        margin-bottom: 1.2rem !important;
        margin-top: 1.2rem !important;
    }

    h1, .h1 {
        font-size: 1.4rem;
    }

    .navbar-section {
        align-items: start !important;
        flex-direction: column;
    }

    .company_2 {
        font-size: 1rem;
    }

    .modal__about {
        font-size: 0.7rem;
    }

    .team_photo__big {
        height: 200px;
    }

    .ReactModal__Content {
        max-height: calc(100vh - 2rem);
    }
}

.mobile-link-1, .mobile-link-2, .mobile-link-3, .mobile-link-4, .mobile-link-5, .mobile-link-6 {
    font-size: 1.2rem;
}